* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}
